html, body{
    cursor: crosshair;
    height: 100%;
    background-image: url("../images/bright.jpeg");
    background-size: cover;
}

.title-holder{
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-color: rgba(12, 13, 14, 0.796);
    color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
    padding: 20%;
}

/* Help from Great Stack video to center*/
.task-list{
    width: 100%;
    margin: 10px auto 20px;
    padding: 20px 30px 90px;

}

.task-list h2{
    text-align: center;
}

ul{
    list-style-type: none;
    background-color: rgb(0, 0, 0);
    padding: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

input{
    width: 67%;
    margin-bottom: 3%;
    padding: 1%;
    
    
}

button{
    float:right;
    background: rgb(25, 219, 25);
    
    font-size: medium;
    border-color:black;
    color: rgb(0, 0, 0);
}

button:hover{
    float:right;
    color:black;
    background-color: rgb(212, 43, 17);
    font-size: medium;
    border-color: snow;
    transition: 0.5s;
}

button:active{
    float:right;
    color:blanchedalmond;
    background-color: rgb(10, 9, 8);
    font-size: medium;
    transition: 0s;
}


.item{
    padding-top: 2%;
    padding-bottom: 2px;
    align-items: center;
    margin-bottom: 2px;
    font-weight: bold;  
    user-select: none;
    position: relative;

}

/* Decided to add my own twist (visual effect) */
.close-button::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../images/notdone.png);
    background-size: cover;
    background-position: center;
    left: -31px;
  }

  .close-button:hover:before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../images/notdone2.png);
    background-size: cover;
    background-position: center;
    left: -31px;
    transition: 0.3s;
  }

  .completion-icon {
    content: '';
    position: absolute;
    height: 32px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../images/done2.png); 
    background-size: cover;
    background-position: center;
    right: 0px;
    
}

.completion-icon.completed{
    content: '';
    position: absolute;
    height: 32px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../images/done.png); 
    background-size: cover;
    background-position: center;
    right: 0px;
    transition: 1s;
}

.due-date{
    margin-right: 10px;
    background-color: black;
    color:aqua;
    border-color: rgb(0, 255, 255) ;
    width: 100px;

}

